<div ng-if="!products.length">There are no products inserted yet</div>
<table class="table table-striped col-xs-12" ng-if="products.length">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>ID</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="product in products | filter:search track by $index">
      <td>
        <span id="up" ng-click="moveRow(1, $index)">up</span>
        <span id="down" ng-click="moveRow(0, $index)">down</span>
      </td>
      <td>
        <span uib-tooltip="Double click to edit" ng-dblclick="toggleEdit(true, null, product)" ng-show="!product.editName">{{product.name}}</span>
        <span uib-tooltip="Click outside to save" ng-show="product.editName">
          <input type="text" ng-model="product.name" ng-blur="toggleEdit(false, null, product)"/>
        </span>
      </td>
      <td>
        <span uib-tooltip="Double click to edit" ng-dblclick="toggleEdit(null, true, product)" ng-show="!product.editPrice">{{product.price}}</span>
        <span uib-tooltip="saving is on blur" ng-show="product.editPrice">
          <input type="text" ng-model="product.price" ng-blur="toggleEdit(null, false, product)"/>
        </span>
      </td>
      <td>{{product._id}}</td>
      <td ng-click="deleteProduct(product._id)" style="cursor:pointer;">X</td>
    </tr>
  </tbody>

</table>
